# $Id: .htaccess 2856 2007-06-08 00:42:19Z Ropu $
#
# This is used with Apache WebServers
# The following blocks direct HTTP requests in this directory recursively
#
# This will prevent access to logs from the web

<Files *.log>
Order Deny,Allow
Deny from all
Allow from localhost
</Files>
